h1{
    text-align: center;
}
.but1{
    margin-left: 40%;
    margin-top: 5%;
    font-size:50px;
    background-color: blue;/*preview*/
}
.but2{
    margin-left: 2%;
    margin-top: 5%;
    font-size:50px;
    background-color: green;/*P*/
}
.but3{
    margin-left: 2%;
    margin-top: 5%;
    font-size:50px;
    background-color: red;/*A*/
}
.but4{
    margin-left: 2%;
    margin-top: 5%;
    font-size:50px;
    background-color: gray;/*next*/
}
.tot
{
    background-color: white;
    border:10;
    box-sizing: border-box;
    font-size: 20px;
}
.but5/*Roll no*/
{
    margin-left: 2%;
    margin-top: 2%;
    font-size:30px;
    background-color:grey;
}